{% extends "base.html.twig" %}
{% block title 'Gérer les annonces ' %}
{% block body %}

    <div class="container mt-4">
        <h2>Créer une nouvelle annonce</h2>
        {{ include('admin/offer/_form.html.twig', {button: 'Créer'}) }}
    </div>

{% endblock %}