{% extends "base.html.twig" %}
{% block title 'Toutes nos offres' %}
{% block body %}

    <div class="container mt-4">
        <h1> Voir toutes nos offres </h1>

        <div class="row">
            {% for offer in offers %}
                <div class="col-md-4">
                    {% include 'offer/_offer.html.twig' %}
                </div>

            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(offers) }}
        </div>

    </div>

{% endblock %}