{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1> Agence Auto </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum, dui eu ornare tempor,
                nulla purus volutpat est, sed lobortis orci diam at lacus. Curabitur sollicitudin ante quis lorem mollis
                tristique at at purus.
            </p>
        </div>
    </div>

{% endblock %}